@model LumberManagerWebEdition.Models.CreateProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="create" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Height" class="control-label"></label>
                <input asp-for="Product.Height" class="form-control" />
                <span asp-validation-for="Product.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Width" class="control-label"></label>
                <input asp-for="Product.Width" class="form-control" />
                <span asp-validation-for="Product.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Length" class="control-label"></label>
                <input asp-for="Product.Length" class="form-control" />
                <span asp-validation-for="Product.Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span id="checkbox-error" class="text-danger"></span>
                <div class="checkbox">
                    <input type="checkbox" id="ww" value="@Model.Categories[0].CategoryName" name="ww" class="group1" />
                    <label for="ww">White Wood</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="25" value="@Model.Categories[1].CategoryName" name=".25" class="group2" />
                    <label class="pr-1" for="25">.25</label>
                    <input type="checkbox" id="40" value="@Model.Categories[2].CategoryName" name=".40" class="group2" />
                    <label class="pr-1" for="40">.40</label>
                    <input type="checkbox" id="60" value="@Model.Categories[3].CategoryName" name=".60" class="group2" />
                    <label for="60">.60</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="acq" value="@Model.Categories[4].CategoryName" name="acq" class="group3" />
                    <label class="pr-1" for="acq">ACQ</label>
                    <input type="checkbox" id="cca" value="@Model.Categories[5].CategoryName" name="cca" class="group3" />
                    <label for="cca">CCA</label>
                </div>
            </div>
                    <div class="form-group">
                        <input id="submit" type="submit" value="Create" class="btn btn-primary" />
                    </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/Create.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
