@model IEnumerable<LumberManagerWebEdition.Models.Product>
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor http

@{
    ViewData["Title"] = "Summary";
    var quantity = (List<int>)ViewData["Quantity"];
    int i = 0;
}

<h1>Summary</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                Category
            </th>
            <th>
                Treatment Type
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            string previousUrl = http.HttpContext.Request.Path;
        }
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category[0].CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category[1].CategoryName)
            </td>
            <td>
                @quantity[i]
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Delete" asp-route-id="@item.ProductID" asp-route-previousUrl="@previousUrl">Remove</a>
            </td>
        </tr>
    i++;
}
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Cart" asp-action="Confirm">Create Order</a>
